absl-py==0.11.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
appdirs==1.4.4
argon2-cffi==20.1.0
asn1crypto==0.24.0
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atpublic==2.1.3
attrs==20.3.0
backcall==0.2.0
backtrader==1.9.76.123
bleach==3.3.0
blessings==1.7
boto3==1.4.8
botocore==1.8.50
cachetools==4.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
chart-studio==1.1.0
click==7.1.2
cloudpickle==1.4.1
colorama==0.4.4
colorful==0.5.4
colorlover==0.3.0
commonmark==0.9.1
configobj==5.0.6
contextvars==2.4
cryptography==3.4.6
cufflinks==0.17.3
cycler==0.10.0
dask==2.19.0
dataclasses==0.7
decorator==4.4.2
defusedxml==0.6.0
dictdiffer==0.8.1
distributed==2.19.0
distro==1.5.0
docutils==0.16
dpath==2.0.1
dulwich==0.20.19
dvc==1.11.16
entrypoints==0.3
filelock==3.0.12
flatbuffers==1.12
flatten-dict==0.3.0
flufl.lock==3.2
fsspec==0.8.7
ftfy==5.9
funcy==1.15
future==0.18.2
gast==0.3.3
gitdb==4.0.5
GitPython==3.1.13
google-api-core==1.26.0
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
grandalf==0.6
grpcio==1.32.0
h5py==2.10.0
HeapDict==1.0.1
hiredis==1.1.0
httplib2==0.19.0
idna==2.6
idna-ssl==1.1.0
immutables==0.15
importlib-metadata==3.3.0
importlib-resources==5.1.0
ipykernel==5.5.0
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
jsonpath-ng==1.5.2
jsonschema==3.2.0
jupyter-client==6.1.11
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras-Preprocessing==1.1.2
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.3.1
locket==0.2.1
mailchecker==4.0.3
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.2.2
mistune==0.8.4
modin==0.8.3
msgpack==1.0.2
multidict==5.1.0
nanotime==0.5.2
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
networkx==2.5
notebook==6.2.0
numpy==1.19.4
nvidia-ml-py3==7.352.0
oauth2client==4.1.3
oauthlib==3.1.0
opencensus==0.7.12
opencensus-context==0.1.2
opt-einsum==3.3.0
packaging==20.9
pandas==1.1.5
pandocfilters==1.4.3
parso==0.8.1
partd==1.1.0
pathlib2==2.3.5
pathspec==0.8.1
pexpect==4.8.0
phonenumbers==8.12.18
pickleshare==0.7.5
Pillow==8.1.0
plotly==4.14.3
plumbum==1.7.0
ply==3.11
progressbar2==3.53.1
prometheus-client==0.9.0
prompt-toolkit==3.0.16
protobuf==3.14.0
psutil==5.8.0
ptyprocess==0.7.0
py-spy==0.3.5
pyarrow==1.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycrypto==2.6.1
pydot==1.4.2
PyDrive2==1.8.0
Pygments==2.8.0
pygobject==3.26.1
pygtrie==2.3.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-apt==1.6.5+ubuntu0.4
python-benedict==0.23.2
python-dateutil==2.8.1
python-fsutil==0.4.0
python-slugify==4.0.1
python-utils==2.5.6
pytz==2021.1
pyxdg==0.25
PyYAML==5.4.1
pyzmq==22.0.3
ray==1.2.0
redis==3.5.3
requests==2.25.0
requests-oauthlib==1.3.0
retrying==1.3.3
rich==9.12.1
rpyc==4.1.5
rsa==4.6
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.1.13
scikit-learn==0.24.1
scipy==1.5.4
seaborn==0.11.1
SecretStorage==2.3.1
Send2Trash==1.5.0
shortuuid==1.0.1
shtab==1.3.5
six==1.15.0
sklearn==0.0
smmap==3.0.5
sortedcontainers==2.3.0
sweetviz==2.0.9
swifter==1.0.7
TA-Lib==0.4.19
tabulate==0.8.9
tblib==1.7.0
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow-estimator==2.4.0rc0
tensorflow-gpu==2.4.0
termcolor==1.1.0
terminado==0.9.2
testpath==0.4.4
text-unidecode==1.3
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.59.0
traitlets==4.3.3
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.26.2
voluptuous==0.12.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xmltodict==0.12.0
yarl==1.6.3
zc.lockfile==2.0
zict==2.0.0
zipp==3.4.0
